// Aside
// -----------------------------------

.navbar-side {
  display: none;
  position: relative;
  width: 100%;
  overflow: auto;
  background-color: $gray-darker;
  color: $gray-lighter;
  z-index: $z-index-menu;
  font-size: $font-size-sm;
  box-shadow: 0 0 4px 1px rgba(0,0,0,0.4);

  @include mquery($tablet-breakpoint) {
    &.is-visible {
      display: block;
    }
  }

  a {
    color: $gray-lighter;
  }
}

.title-aside {
  clear: both;
  margin: $spacing-sm;
}

.nav-side {
  display: flex;
  flex-wrap: wrap;

  > li {
    float: none;
    flex-basis: 100%;
    flex-grow: 0;
    text-align: left;
    font-size: $font-size;

    > a,
    > button {
      @include transition(background-color .3s);
      padding: $spacing-sm;
      display: block;
      width: 100%; /* besoin de spécifier pour <button> */

      background: none;
      appearance: none; /* annuler les styles par défaut du bouton */
      font: inherit; /* cause de <button> */
      color: inherit; /* idenm */
      border: 0;
      cursor: pointer;

//      &:hover {
//        background-color: $color-primary;
//        color: check-background($color-primary);
//      }
    }

    &.active {
      > a {
        background-color: lighten($color-navbar, 5%)
      }
    }

    ul {
      list-style: none outside none;
      margin: .5rem 0 0; /* ajout léger espace au-dessus pour équilibrer */
      padding: 0;
      li {
        a {
          display: block;
          padding: $spacing;
          text-align: start;
          font-size: $font-size-sm;
          color: inherit;
          border: 0;
        }
      }
    }
  }
}

.nav-button-label {
  display: flex;
  flex-direction: row;
  align-items: center; /* alignement vertical icône */
  justify-content: space-between;
  flex-wrap: wrap;
}

.is-open .nav-button-icon {
  transform: rotateX(180deg);
}

.nav-item-end {
  margin-inline-start: auto;
}

