
.badge {
  @include horizontal-margin(.15em);
  border-radius: 1em;
  display: inline-block;
  padding: .15em .85em 0.12em;
  text-transform: uppercase;
  font-size: 0.72em;
}

.badge-primary {
  background-color: $color-primary;
  color: check-background($color-primary);
}

.badge-secondary {
  background-color: $color-secondary;
  color: check-background($color-secondary);
}
.badge-tertiary {
  background-color: $color-tertiary;
  color: check-background($color-tertiary);
}

.badge-default {
  background-color: $gray-lighter;
  color: $gray-dark;
}

.badge-darker {
  background-color: $gray-darker;
  color: #fff;
}

//.badge-lighter {
//  background-color: $gray-lighter;
//  color: $gray;
//}

.badge-tertiary {
  background-color: $color-tertiary;
  color: check-background($color-tertiary);
}
.badge-success {
  background-color: $color-success;
  color: check-background($color-success);
}
.badge-danger {
  background-color: $color-danger;
  color: check-background($color-danger);
}
