.calendrier-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.calendrier-nav-item {
  font-size: $font-size-sm;
  color: $gray;

  &[href] {
    text-decoration: none;
    &:hover {
      color: $color-link;
      text-decoration: underline;
    }
  }
}

.calendrier-info-section {
  margin: 1.5rem 0 3rem;
}
