/* _bloc-rubriques.css */
.section-rubriques {}

.section-rubriques-inner {
  max-width: 80rem;
  margin-inline: auto;
}

.section-rubriques-heading {
  margin-block: 0 1rem;
}

.section-rubriques-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  gap: 1rem;
}
