// Theme
// -----------------------------------

body, html {
  background-color: $gray-lighter;
  color: $font-color;
  //height: 100%;
}

::selection {
  background-color: $color-primary;
  color: #fff;
}

.styled-link {
//  @extend .font-bold;
  @include transition(border-color .3s);
  padding: 0 2px;
  border-bottom: 1px solid $color-link;

  &:hover, &:focus {
    border-bottom-color: rgba($color-link, 0.15);
  }
}

p a,
ul a,
ol a
{ // inline text links
  @extend .styled-link;
}

.link-unstyled {
  font-weight: normal;
  color: $font-color;
  border: 0;
  padding: 0;
}

.container-main {
  margin-bottom: -$spacing;
  @include horizontal-padding(0);
  position: relative;
  margin-top: $spacing;
  padding-bottom: $spacing-xl;
  background-color: #fff;
  @include box-shadow(0 5px 10px rgba(0,0,0,0.1));
  
  &.container-full {
    @include vertical-margin(0);
    @include vertical-padding(0);
  }
  
  &.-wide {
    max-width: 96%;
  }
  
  img {
	max-width: 100%;
  }
}

.card {
  margin-top: $spacing;
  padding: $spacing-md;
  background-color: #fff;
  @include box-shadow(0 5px 10px rgba(0,0,0,0.1));
  
  &.container {
    @include horizontal-padding($spacing-md);
  }
  
  &__heading {
    margin-top: 0;
  }
}

.text--gray { color: $gray; }
.text--primary { color: $color-primary; }
.text--secondary { color: $color-secondary; }
.text--danger { color: $color-danger; }

.banner {
  position: fixed;
  z-index: $z-index-modal + 1;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: $spacing;
}

.banner__close {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: $spacing-xs;
  cursor: pointer;
}

// Responsive
@import '_theme/tablet';
@import '_theme/phone';
