.calendrier-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  gap: 1rem;
}

.calendrier-nav-item {
  font-size: $font-size-sm;
}

.calendrier-info-section {
  margin: 1rem 0 3rem;
  border-top: 1px solid $gray-light;
  border-bottom: 1px solid $gray-light;
  padding: 1.5rem 0;
}
