// Icons
// -----------------------------------

.svg-icon {
  --size: 16px;

  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1;
  margin: 0 .125em;

  /* vertical correction */
  vertical-align: baseline;
  position: relative;
  bottom: -.15em;


  > svg {
    height: var(--size);
    width: var(--size);

    fill: currentColor;
  }
}
