{{ define "main" }}
<main class="container-main container-landing">

  <header class="header-landing row-primary" style="background-image:url({{ .Params.backgroundImg }})">
    <div class="swipe landing-slider" id="landing-slider">
      <div class="swipe-wrap">

        {{ range .Params.slides }}

        <section class="text-center">
          <div class="container">
            <div class="row">
              <div class="col col-10 push-1 tablet-col-12 tablet-no-push">
                <h1>{{ .heading }}</h1>

                <p>{{ .body | markdownify }}</p>

                <div>
                  {{ range .buttons }}
                  <a href="{{ .url }}" class="btn {{ .class }}"
                     {{ if .external }} target="_blank"{{ end }}>
                    {{- with .pre }} {{ . | safeHTML }}{{ end }}
                    {{ .title }}
                    {{- with .post }} {{ . | safeHTML }}{{ end }}
                  </a>
                  {{ end }}
                </div>
              </div>
            </div>
          </div>
        </section>

        {{ end }}
      </div>

      <a href="#" class="slider-btn-controls slider-btn-controls-left" id="landing-slider-btn-controls-left">{{ partial "icon.html" (dict "name" "chevron-left-solid") }}</a>
      <a href="#" class="slider-btn-controls slider-btn-controls-right" id="landing-slider-btn-controls-right">{{ partial "icon.html" (dict "name" "chevron-right-solid") }}</a>
      <ul class="slider-bullets" id="landing-slider-bullets"></ul>

    </div>
  </header>

  <div class="container container-full">

    <h2>Quoi de neuf</h2>

    <div class="row">
      <aside class="col col-4 tablet-col-12 right">
        <!-- Page markdown content is rendered here -->
        {{ .Content }}
      </aside>

      <article class="col col-8 tablet-col-12">
        <section>

          {{ with .Site.GetPage "section" "nouvelles" }}

          <!-- Other articles -->
          {{ range first 3 .Pages }}
          {{ partial "nouvelle-apercu.html" . }}
          {{ end }}
          {{ end }}

          <div class="row row-sm">
            <a href="/nouvelles/" class="btn btn-secondary -sm">
              Toutes les nouvelles
              {{ partial "icon.html" (dict "name" "calendar-solid") }}hamburger"></span>
            </a>
          </div>
        </section>

        {{ if isset .Params "announcement" }}
          <div class="alert -primary phone-text-center">
              <span class="h1 alert__heading">{{ .Params.announcement.title }} {{ partial "icon.html" (dict "name" "pencil-solid") }}</span>
              <p>
                {{ .body | markdownify }}
              </p>
            </div>
        {{ end }}

      </article>
    </div>
  </div>

  <section class="row-lg" id="photos">
    <div class="container container-full">
      <h2>Dernières photos</h2>
      <div class="row">
        {{ range first 3 .Params.featuredPhotos }}
        <div class="col col-4 tablet-col-12">
          <a href="{{ .url}}">
            <figure class="featured-photo-figure"
                    style="background-image: url({{ .img }})">
              <img src="{{ .img }}" alt="{{ .title }}" />
              <figcaption class="featured-photo-figure__caption">
                <h3>{{ .title }}</h3>
              </figcaption>
            </figure>
          </a>
        </div>
        {{ end }}
      </div>

      <a href="{{ .Params.featuredPhotosUrl }}" class="btn btn-primary">Voir plus de photos {{ partial "icon.html" (dict "name" "chevron-right-solid") }}</a>
    </div>
  </section>

  <section id="partenaires" class="row">
    <div class="container">
      <h2>Partenaires de championnat 2019</h2>
      {{ range .Site.Data.partenaires_champ_2019 }}
      {{ partial "partenaire.html" . }}
      {{ end }}
    </div>
  </section>

  <section class="row-lg" id="infolettre">
    <div class="container container-full">
      <div class="row">
        <div class="col col-6 tablet-col-4 phone-col-12 text-center">
          <img class="img-responsive"
           src="/img/new-message.png"
           alt="Courrier" />
        </div>
        <div class="col col-6 tablet-col-8 phone-col-12">
          <div class="container no-margin">
            <h2>Infolettre {{ partial "icon.html" (dict "name" "envelope-solid") }}</h2>

            <p>Parents et athlètes, ajoutez votre adresse courriel pour recevoir toutes les informations. Si vous vous êtes inscrit(e) au club pour la saison 2018–2019, vous avez déjà été ajouté(e) à l’infolettre!</p>


            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

{{ end }}
