{{ define "article" }}
  {{ $sort := "desc" }}
  {{ if isset .Page.Params "sortDate" }}
  {{ $sort = .Page.Params.sortDate }}
  {{ end }}

  {{ .Content }}

  <ul class="list-unstyled list-by-date">
    {{ range sort .RegularPages "Date" $sort }}
    <li>
      {{ if .Date }}
      <small class="date">{{ partial "icon.html" (dict "name" "calendar-days-solid") }} {{ .Date.Format "2006-01-02" }}</small>
      {{ else }}
      <small class="date">(Sans date)</small>
      {{ end }}
      <br>
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </li>
    {{ end }}
  </ul>

  {{ range .Sections.ByDate.Reverse }}
  <section>
    <h2>
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </h2>

    <ul class="list-unstyled list-by-date">
    {{ range sort .Pages "Date" $sort }}
      <li>
        {{ if .Date }}
        <small class="date">{{ partial "icon.html" (dict "name" "calendar-days-solid") }}{{ .Date.Format "2006-01-02" }}</small>
        {{ else }}
        <small class="date">(Sans date)</small>
        {{ end }}
        <br>
        <a href="{{ .Permalink }}">{{ .Title }}</a>
      </li>
    {{ end }}
    </ul>

    {{ end }}
  </section>
{{ end }}
