<!DOCTYPE html>
<html class="no-js" lang="{{ .Lang }}">
  <head>
    {{- partial "head.html" . -}}
  </head>
  <body {{if .IsHome}} class="landing-page"{{end}} x-data="{ sidebarOpen: false }">

    {{- block "global-header" . -}}
    {{- partial "header.html" . -}}
    {{- end -}}

    {{- block "global-navbar" . -}}
    {{- partial "navbar.html" . -}}
    {{- end -}}

    {{- block "main" . }}
      <main class="container container-main">
        {{ block "header-page" . }}
        {{- partial "header-page.html" . -}}
        {{ end }}

        <article class="container article-container">

          {{- block "article" . }}
            {{- with .Params.description }}
            <p class="article-lead">
              {{ . }}
            </p>
            {{ end }}

            {{- .Content }}
          {{- end -}}
        </article>
      </main>
    {{- end }}

    {{- block "global-footer" . -}}
    {{- partial "footer.html" . -}}
    {{- end -}}

    {{- block "global-sidebar" . -}}
    {{- partial "aside.html" . -}}
    {{- end -}}

    {{ with .Site.Params.annonce }}
    {{- partial "announcement.html" . -}}
    {{ end }}
  </body>
</html>
