<!DOCTYPE html>
<html class="no-js" lang="{{ .Lang }}">
  {{ partial "head.html" . }}
  <body {{if .IsHome}} class="landing-page"{{end}} x-data="{ sidebarOpen: false }">

    {{- partial "header.html" . -}}

    {{- partial "navbar.html" . -}}

    {{- block "main" . }}
      <main class="container container-main">
        {{- if .IsHome }}

          {{- .Content -}}

          {{ with .Site.Params.annonce }}
          {{- partial "announcement.html" . -}}
          {{ end }}

        {{- else -}}

          {{ block "header-page" . }}
          {{- partial "header-page.html" . -}}
          {{ end }}

          <article class="container article-container">

            {{ block "article" . }}
              {{ with .Params.description }}
              <p class="article-lead">
                {{ . }}
              </p>
              {{ end }}

              {{ .Content }}
            {{ end }}
          {{ end -}}
        </article>
      </main>
    {{- end }}

    {{- partial "footer.html" . -}}

    {{- partial "aside.html" . -}}

    {{ with .Site.Params.annonce }}
    {{- partial "announcement.html" . -}}
    {{ end }}

    <script type="text/javascript">
      // Globals
      window.STRIPE_PK = {{ $.Site.Params.stripePublicKey }};
      window.COCH_API_URL = {{ $.Site.Params.apiUrl }};
    </script>

    <script type="text/javascript"> (function(w,d,t,u,n,a,m){w['MauticTrackingObject']=n; w[n]=w[n]||function(){(w[n].q=w[n].q||[]).push(arguments)},a=d.createElement(t), m=d.getElementsByTagName(t)[0];a.async=1;a.src=u;m.parentNode.insertBefore(a,m) })(window,document,'script','https://campagnes.corsaire-chaparral.org/mtc.js','mt'); mt('send', 'pageview'); </script>

    {{ if or .Params.snipcart (eq .Page.Section "calendrier") }}
      <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

      <script src="https://cdn.snipcart.com/scripts/2.0/snipcart.js" id="snipcart" data-api-key="{{ $.Site.Params.snipcartApiKey }}"></script>

      <link href="https://cdn.snipcart.com/themes/2.0/base/snipcart.min.css" type="text/css" rel="stylesheet" />
    {{ end }}
    </body>
</html>
