{{ define "main" }}
<main class="StyleguideLayout" id="contenu-principal">
  <header class="StyleguideLayout__header">
    <h1>{{ .Title }}</h1>
  </header>
  {{ .Content }}

<section class="StyleGuideSection">
    <h2 class="StyleguideLayout__header">En-tête de page</h2> 

<main class="container container-main" role="main">
  {{ $headerData := dict
       "Title" "Exemple de titre"
       "Params" ( dict
         "subtitle" "Exemple de sur-titre"
         "icon" "pencil-solid"
         "date" (time.AsTime "2024-05-01")
         "images" (slice "/img/coch-dos.jpg")
       )
  }}

  {{- partial "header-page.html" $headerData -}}

  <article class="container article-container">
    <p class="article-lead">
      Description brève de la page, au format <em>Markdown</em>.
    </p>

    <h2>
      Texte d’en-tête
    </h2>
    <p>
    Début du corps de l’article.
    </p>
  </article>
</main>
</section>

</main>

<style>
.StyleguideLayout__header {
  margin: 1.5rem;
}
.StyleguideLayout__header h1 {
  margin: 0;
}
</style>
{{ end }}{{/* main */}}
