
{{- $competition := . -}}
{{- $limitCheck := le (time (printf "%sT23:59:00.00-05:00" $competition.Params.limite)) (time now) -}}
<section>
  <div class="calendrier-info-section">

    {{- with $competition.Params.description -}}
    <p>{{ . | markdownify }}</p>
    {{- end -}}

    <ul>
      {{- if $competition.Params.date -}}
      <li><strong>Date</strong> : {{ (time $competition.Params.date).Format "2006-01-02" }}</li>
      {{- end -}}
      {{- if $competition.Params.limite -}}
      <li><strong>Date limite d'inscription</strong> : <mark>{{ (time .Params.limite).Format "2006-01-02" }}</mark></li>
      {{ end }}
      {{ with $competition.Params.emplacement }}
      <li><strong>Emplacement</strong> : {{ .  | markdownify }}</li>
      {{ end }}
      {{ with $competition.Params.frais }}
      <li><strong>Frais</strong> : {{ replace . "." "," }}$</li>
      {{- end -}}
      {{- with $competition.Params.information -}}
      <li><strong><a href="{{ . }}" tagget="_blank">Informations sur la compétition</a></strong></li>
      {{- end -}}
    </ul>
  </div>

  {{- if $limitCheck -}}
  <div class="well">
    {{ partial "icon.html" (dict "name" "triangle-exclamation-solid") }}
    <em>La date d'inscription pour cette compétition est passée; le formulaire n'est plus disponible.</em>
  </div>
  {{- else -}}

  {{ with $competition.Params.formulaireId }}
  <section>
    <h4>
      Étape 1. Informations de l'athlète
    </h4>
    <script type="text/javascript" src="//campagnes.corsaire-chaparral.org/form/generate.js?id={{.}}"></script>

    <h4>
      Étape 2. Envoyer
    </h4>
    <p>
      Les inscriptions sont <strong>non remboursables</strong> après la date limite.
    </p>

    <h4>Étape 3. Vérification</h4>
    <p>
      Avant la date limite, veuillez vérifier <strong>l’inscription officielle</strong> sur le site de l’événement pour vous assurer que les bonnes informations aient été transmises.
    </p>
    <p>
      <strong>Il est de votre responsabilité de vérifier sur la page de l’événement si vous avez été inscrit correctement, et ce avant la date limite.</strong>
    </p>
  </section>
  {{ end }}{{/* with */}}
  {{ end }}{{/* if */}}

</section>
