<header class="header-page">

  <div class="icon-header">
    {{- if .Params.icon }}
    {{- partial "icon.html" (dict "name" .Params.icon "size" "170") -}}
    {{ end -}}
  </div>

  <div class="container">
    <div class="row row-sm">
      <div class="meta-header">
        {{ with .Params.subtitle }}
        <small class="uppercase">{{ . }}</small>
        {{ end }}
      </div>
    </div>
  </div>
  <div class="row no-padding">
    <div class="col col-10 tablet-col-10 phone-col-12">
      <div class="title-header container">
        <h1>{{ .Title }}</h1>
      </div>
    </div>
  </div>
  <div class="row row-sm">
    <div class="col col-12">
      <div class="container meta-header">
        {{ with .Params.date }}
        <div>
          <small>
            {{ partial "icon.html" (dict "name" "calendar-days-solid" "size" 13) }} {{ partial "date.html" . }}
          </small>
        </div>
        {{ end }}
        {{with .Params.author }}
        <div>
          <small><em>{{ . }}</em></small>
        </div>
        {{ end }}
      </div>
    </div>
  </div>

  {{ with .Params.images }}
  {{ range first 1 . }}
  <figure class="header-banner">
    <img src="{{ . }}" class="img-responsive" />
  </figure>
  {{ end }}
  {{ end }}
</header>
