{{/* Contents of the `head` element */}}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ with .Title }}{{ . }} | {{ end }}{{ $.Site.Title }}</title>
<script>document.documentElement.className = document.documentElement.className.replace('no-js', 'js');</script>
<meta name="description" content="{{ if .Description }}{{ .Description }}{{else}}{{ $.Site.Params.description }}{{end}}">

<link rel="stylesheet" type="text/css" href="/styles/main.css" />
<link rel="icon" type="image/png" href="/img/favicon-64x64.png" sizes="64">
<link rel="canonical" href="{{ .Page.Permalink }}">
<link rel="apple-touch-icon" href="/apple-touch-icon.png"/>
<meta name="msapplication-TileColor" content="{{ $.Site.Params.themeColor | default "#ff6900" }}">

<!-- alpine.js @ v3 -->
<script defer src="/js/alpine.min.js"></script>

<!-- Opengraph -->
{{ template "_internal/opengraph.html" . -}}

{{ with .OutputFormats.Get "rss" -}}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}
