<nav class="navbar-main">
<!--  <a class="logo-navbar" href="/"><img src="/assets/img/logo-navbar.png" alt="" /></a>-->
  <div class="navbar-inner">
    <ul class="nav nav-responsive">
      <li class="nav-item-end">
        <button class="toggle-sidebar" id="toggle-sidebar" title="Menu" x-on:click="sidebarOpen = !sidebarOpen">
          MENU
          <span
            class="toggle-sidebar-icon"
            :class="sidebarOpen ? 'none' : ''"
          >
            {{- partial "icon.html" (dict "name" "bars-solid" "size" 14) -}}
          </span>
          <span
            class="toggle-sidebar-icon"
            :class="!sidebarOpen ? 'none' : ''"
          >
            {{- partial "icon.html" (dict "name" "xmark-solid" "size" 14) -}}
          </span>
        </button>
      </li>
    </ul>
    <ul class="nav nav-break">
      {{ $currentPage := . }}
      {{ range .Site.Menus.main.ByWeight }}
      <li class="{{if or ($currentPage.IsMenuCurrent "main" . ) ($currentPage.HasMenuCurrent "main" . ) }}active{{ end }}{{ if .HasChildren }} dropdown{{ end }}
        {{ if findRE "highlight" .Identifier }} highlight{{ end }}">
        <a {{ if not .HasChildren}}href="{{ .URL }}"{{end}}>{{ .Title }}{{ if .HasChildren }} {{ partial "icon.html" (dict "name" "chevron-down-solid" "size" 12) }}{{ end }}</a>
        {{ if .HasChildren }}
        <ul class="dropdown-list">
          {{ range .Children.ByWeight }}
          <li {{ if .HasChildren }}class="dropdown"{{end}}>
            <a href="{{ .URL }}">{{ .Title }}{{ if .HasChildren }} {{ partial "icon.html" (dict "name" "chevron-right-solid" "size" 12) }}{{ end }}</a>
            {{ if .HasChildren }}
            <ul class="dropdown-list">
              {{ range .Children.ByWeight }}
              <li><a href="{{ .URL }}">{{ .Title }}</a></li>
              {{ end }}
            </ul>
            {{ end }}
          </li>{{ end }}
        </ul>{{ end }}
      </li>
      {{ end }}
    </ul>
  </div>
</nav>
