# Spécifier le chemin de la page d’erreur à afficher en cas
# d’erreur 404 (Not Found)
ErrorDocument 404 /404.html

# Encodings
AddType text/css css
AddType image/svg+xml svg
AddType image/svg+xml svgz
AddEncoding x-gzip .svgz

# Deflate
<IfModule mod_deflate.c>
        AddOutputFilterByType DEFLATE image/svg+xml
        AddOutputFilterByType DEFLATE text/css
        AddOutputFilterByType DEFLATE text/html
        AddOutputFilterByType DEFLATE text/javascript
        AddOutputFilterByType DEFLATE image/jpg
        AddOutputFilterByType DEFLATE image/jpeg
        AddOutputFilterByType DEFLATE image/png
        AddOutputFilterByType DEFLATE application/x-font-woff
</IfModule>

# Expires headers for client-side caching
<IfModule mod_expires.c>

  # Les pages HTML ne devraient pas être mises en cache, ou si peu
  # Syntax: ExpiresByType MIME-type <code>seconds
  ExpiresByType text/html 30

  # Les ressource externes les images peuvent être mises en cache
  ExpiresByType image/svg+xml "access plus 1 week"
  ExpiresByType audio/ogg "access plus 1 week"
  ExpiresByType audio/mpeg "access plus 1 week"
  ExpiresByType audio/x-wav "access plus 1 week"
  # Default directive
  <FilesMatch "\.(png|woff|woff2|svg|jpg|jpeg)$">
  ExpiresDefault "access plus 1 month"
  </FilesMatch>

  <filesMatch "\.(html|htm|js|css)$">
    FileETag None
    <ifModule mod_headers.c>
       ExpiresActive Off
       Header unset ETag
       Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
       Header set Pragma "no-cache"
    </ifModule>
  </filesMatch>
</IfModule>

########################################################
# URL rewriting
########################################################
RewriteEngine On

# Ancienne page /accueil/ -> rediriger vers l’accueil /
RewriteRule ^accueil\/?(.*)$ "/" [R=301,L]

# Anciennes pages sous /club/
# Ex. /club/histoire-mission/ -> /histoire-mission/
RewriteRule "^club/(.+)" "/$1"  [R=301,L]
# La page /club/, qui n’est plus utilisée – rediriger à l’accueil /
RewriteRule "^club\/$" "/" [R,L]

